body {
  background-color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
}

.calculator {
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  margin: 10% auto 0;
  width: 300px;
}

.display {
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 48px;
  height: 100px;
  margin-bottom: 24px;
  padding: 24px;
  text-align: right;
  width: 100%;
}

.keys {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 16px;
  padding: 16px;
}

.key {
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  outline: none;
  transition: background-color 0.2s ease;
}

.key:active {
  background-color: #555;
}

.operator {
  background-color: #f48024;
}

.key.sign {
  background-color: #999;
}

.key.zero {
  grid-column: 1 / span 2;
}

.key.decimal {
  background-color: #999;
}

.key:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .calculator {
    height: 90vh;
    margin: 5% auto 0;
    width: 90vw;
  }
}